
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <div class="container mt-50 mb-50">
        <div class="travel-quote-banner mt-50" style="background-image:url('Content/User/extretion/images/travel-quote-banner/01.jpeg');background-size:cover">
            <div class="content">
                <p class="saying"style="width: 600px">"Chúc mừng! Bạn đã đặt xe thành công"</p>
                <p>Chúng tôi sẽ gửi Email thông tin đặt xe trong vòng 20 phút</p>
                <p class="sayer"><span>RenOto</span></p>

                <div class="text-center mt-40">
                    <a href="/">Về trang chủ</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>