@model List<Model.EF.CarCategory>
<div class="categories">
    <ul>

        @foreach (var item in Model)
        {
            <li><a href="/Car/@item.Metatitle/@item.ID">@item.Name</a></li>
        }
    </ul>
</div>
