
@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrapper">
    <div class="breadcrumb-wrapper">

        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-8">
                    <ol class="breadcrumb">
                        <li><a href="#">Trang chủ</a></li>
                        <li class="active">Về chúng tôi</li>
                    </ol>
                </div>

                <div class="col-xs-12 col-sm-4 hidden-xs">
                    <p class="hot-line"> <i class=""></i></p>
                </div>

            </div>
        </div>
    </div>

    <div class="container pt-70 pb-70">

        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                <div class="section-title-2 alt">
                    <h2>RenOto</h2>
                    <p class="font-italic">Dịch vụ cho thuê xe trực tuyến</p>
                </div>

            </div>

        </div>

        <div class="two-column-css">

            <p>
                 RenOto hoạt động trên nền tảng ứng dụng cho thuê xe tự lái 4-7 chỗ, theo mô hình kinh tế sẻ chia.
            </p>
            <p>
                RenOto được thành lập với sứ mệnh mang đến nền tảng công nghệ hiện đại kết nối chủ xe ô tô và hành khách theo cách Nhanh Nhất, An Toàn Nhất và Tiết Kiệm Nhất.
            </p>
            <p>
                RenOto hướng tới việc xây dựng một cộng đồng chia sẻ ô tô văn minh với nhiều tiện ích thông qua ứng dụng trên di động, nhằm nâng cao chất lượng cuộc sống của cộng đồng.
            </p>

        </div>
    </div>

    @*<div class="featured-bg" style="background-image:url('images/hero-header/01.jpeg');">
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">
                    <!-- Hero heading -->
                    <h3 class="font400">RenOto</h3>
                    <!-- Hero subheading -->
                    <p>Dễ dàng tìm kiếm và thuê xe</p>
                </div>

            </div>
        </div>
    </div>*@
    </hr>
    <div class="container pt-70 pb-70">

        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                <div class="section-title-2 alt">
                    <h2>Sứ mệnh</h2>
                    <p class="font-italic">Mang đến cho người dùng những trải nghiệm tuyệt vời nhất khi sử dụng thuê xe</p>
                </div>

            </div>

        </div>
        <div class="featured-timeline">

            <ul class="clearfix">

                <li>
                    <div class="icon">
                        <i class="ion-heart"></i>
                    </div>
                    <div class="content">
                        <h4>Dịch vụ tốt nhất</h4>
                        <p>Có nhân viên hỗ trợ khách hàng trong suốt quá trình thuê xe.</p>
                    </div>
                </li>

                <li>
                    <div class="icon">
                        <i class="ion-paper-airplane"></i>
                    </div>
                    <div class="content">
                        <h4>Nhanh và thuận tiện</h4>
                        <p>Dễ dàng tìm kiếm, nhanh chóng, so sánh và đặt chiếc xe như ý với chỉ vài click chuột.</p>
                    </div>
                </li>

                <li>
                    <div class="icon">
                        <i class="ion-pricetags"></i>
                    </div>
                    <div class="content">
                        <h4>Giá rẻ</h4>
                        <p>Giá thuê được niêm yết công khai và rẻ hơn 10% so với giá truyền thống.</p>
                    </div>
                </li>

                <li>
                    <div class="icon">
                        <i class="ion-levels"></i>
                    </div>
                    <div class="content">
                        <h4>Phạm vi rộng khắp</h4>
                        <p>Dịch vụ của RenOto bao phủ khắp các tỉnh thành trên cả nước.</p>
                    </div>
                </li>

            </ul>

            <div class="clear"></div>

        </div>
    </div>

    <div class="overflow-hidden">

        <div class="row gap-0 table-div">

            <div class="col-xs-12 col-sm-6 table-cell-div bg-primary">

                <div class="sell-or-buy">

                    <div class="icon">
                        <i class="et-line-briefcase"></i>
                    </div>

                    <div class="clear"></div>

                    <div class="content">

                        <h3 class="uppercase mb-20">Trở thành khách hàng</h3>

                        <p>Người sử dụng các dịch mà RenOto cung cấp. Được hưởng các ưu đãi khi là thành viên của RenOto. Hỗ trợ khách hàng mọi lúc để đem lại cho khách hàng trải nghiệm tốt nhất.</p>

                        <a href="/Register">Đăng ký</a>

                    </div>

                </div>

            </div>

            <div class="col-xs-12 col-sm-6 table-cell-div bg-warning">

                <div class="sell-or-buy">

                    <div class="icon">
                        <i class="et-line-map"></i>
                    </div>

                    <div class="clear"></div>

                    <div class="content">

                        <h3 class="uppercase mb-20">Nhà cung cấp dịch vụ</h3>

                        <p>Bạn có xe nhàn rỗi muốn cho thuê? Bạn chưa tận dụng hết thời gian xe nhàn rỗi. Bạn muốn sử dụng dịch vụ để giảm chi phí. Đăng ký làm đối tác với RenOto để mang dịch vụ của bạn đến khách hàng ngay nào.</p>

                        <a href="#">Trở thành đối tác</a>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>