@model Model.EF.Contact
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #mapCanvas {
        width: 100%;
        height: 400px;
    }
</style>
@section jsFooter{
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="/Content/User/js/controller/contactController.js"></script>
    <script>

        // This example displays a marker at the center of Australia.
        // When the user clicks the marker, an info window opens.
        // 10.761558, 106.668038

        function initMap() {
            var uluru = { lat: 10.761558, lng: 106.668038 };
            var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                zoom: 16,
                center: uluru
            });

            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
                '<div id="bodyContent">' +
                '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                'sandstone rock formation in the southern part of the ' +
                'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) ' +
                'south west of the nearest large town, Alice Springs; 450&#160;km ' +
                '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major ' +
                'features of the Uluru - Kata Tjuta National Park. Uluru is ' +
                'sacred to the Pitjantjatjara and Yankunytjatjara, the ' +
                'Aboriginal people of the area. It has many springs, waterholes, ' +
                'rock caves and ancient paintings. Uluru is listed as a World ' +
                'Heritage Site.</p>' +
                '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
                'https://en.wikipedia.org/w/index.php?title=Uluru</a> ' +
                '(last visited June 22, 2009).</p>' +
                '</div>' +
                '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Địa chỉ'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
}
    <div class="main-wrapper">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-8">
                        <ol class="breadcrumb">
                            <li><a href="#">Trang chủ</a></li>
                            <li class="active">Liên hệ</li>
                        </ol>
                    </div>

                    <div class="col-xs-12 col-sm-4 hidden-xs">
                        <p class="hot-line"> <i class=""></i></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="container mt-50 mb-50">

            <div class="section-title-3">
                <h2>Liên hệ với chúng tôi</h2>
                <p class="font500">@Html.Raw(Model.Detail)</p>
            </div>

            <div class="clear mb-10"></div>
            <div class="row">
                <div class="col-sm-6">

                    <form>
                        <div class="form-group mb-25">
                            <input type="text" id="txtName" class="form-control" placeholder="Tên của bạn" />
                        </div>
                        <div class="form-group mb-25">
                            <input type="email" id="txtEmail" class="form-control" placeholder="Email" />
                        </div>

                        <div class="form-group mb-25">
                            <input type="text" id="txtPhone" class="form-control" placeholder="Số điện thoại" />
                        </div>

                        <div class="form-group mb-25">
                            <input type="text" id="txtAddress" class="form-control" placeholder="Địa chỉ" />
                        </div>

                        <div class="form-group mb-25">
                            <textarea class="form-control" id="txtContent" rows="8" placeholder="Nội dung"></textarea>
                        </div>

                        <div>
                            <button id="btnSend" class="btn btn-danger">Gửi</button> 
                        </div>
                    </form>

                </div>
                <div class="col-sm-6">
                    <div class="map" id="mapCanvas">
                    </div>
                </div>
            </div>
            <div class="travel-quote-banner mt-50" style="background-image:url('Content/User/extretion/images/travel-quote-banner/01.jpeg');background-size:cover">
                <div class="content">
                    <p class="saying">"A journey is best measured in friends, rather than miles."</p>
                    <p class="sayer"><span>Tim Cahill</span></p>

                    <div class="text-center mt-40">
                        <a href="/FindCar">Tìm xe ngay</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


